<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" title="compact" type="text/css" href="/stylesheets/mystyle.css">
    <title>Weekly Horror</title>
    </head>
    <body>
        <div class = "Title">
            <span id = "blackTitle">{{first|safe}}</span> <span id = "blueTitle"> {{rest|safe}} </span>
        </div>
        </br>

        <div class = "storyArea">
        {{content|safe}}
        </div>

        <div class = "searchBar">
            <a href="/" class="demo-pricing demo-pricing-2">Similar Scare</a>

        </div>

        <div class = "continueBar">
            <a href="/" class="demo-pricing demo-pricing-2">New Scare</a>
        </div>
    </body>
</html>