html{
  background-color:#f7f7f7;
}

.Title{
  font-size:75px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align:center;
  padding-top:  80px;
}

#blueTitle{
  color:#ED4444;
  font-weight:bold;
}

#blackTitle{
  color:#333333;
}

.searchBar{
  padding-top:50px;
  position:fixed;
  left:34%;
  margin-left:-62px;
}

.continueBar{
  padding-top:50px;
  position:fixed;
  left:66%;
  margin-left:-62px;
}

.storyArea{
  
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size:25px;
  width:47%;
  height:550px;
  line-height: 200%;
  margin: 0 auto;
  overflow:auto;
  font-color:#333333;
}


.demo-pricing {
  width:125px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.demo-pricing:active {
  padding-top: 15px;
        margin-bottom: -1px;
}
.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}

.demo-pricing-2 {
  background-color: #f06060;
  box-shadow: 0px 3px 0px 0px #cd1313;
}
.demo-pricing-2:hover {
  background-color: #ed4444;
}
.demo-pricing-2:active {
  box-shadow: 0px 1px 0px 0px #cd1313;
}